@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Wochentage für den Kurs auswählen";
}

@model RaumplanungCore.ViewModels.Kurs.KursViewModel

@{
    string date = Model.start.ToString("yyyy-MM-dd");
}
<h1> Neuen Kurs anlegen </h1>

<p> Wählen Sie die Blöcke an den Tagen aus, an denen der Kurs stattfinden soll </p>
<form asp-controller="Kurs" asp-action="ShowRooms" method="post">
    <input type="hidden" asp-for="start" value="@Model.start"/>
    <input type="hidden" asp-for="end" value="@Model.end" />
    <input type="hidden" asp-for="kursname" value="@Model.kursname"/>
    <div id="inputform">
        
    </div>
    <button type="submit">Tage annehmen</button>
</form>
<button onclick="reset()">Zurücksetzen</button>




@section scripts
{
    <link rel="stylesheet" href="/fullCalendar/fullcalendar.css"/>
    <script src="/fullCalendar/lib/moment.min.js"></script>
    <script src="/fullCalendar/fullcalendar.js"></script>
    <script src="/fullCalendar/locale/de.js"></script>

    <script>
        var counter = 0;
        
        var trigger = false;
        var selectable = true;
        var startSubmit;
        var stopSubmit;
        $(document)
            .ready(function() {
                $('#calendar')
                    .fullCalendar({
                        defaultView: 'agendaWeek',
                        defaultDate: '@date',
                        weekends: false,
                        editable: false,
                        timezone: 'local',
                        header: false,
                        locale: 'de',
                        titleFormat: '[Tag und Blockauswahl]',
                        views: {
                            week: {
                                timeFormat: 'HH:mm'
                            }
                        },
                        events: "/kurs/loadevents/",
                        eventClick: function (event) {
                            var form = document.getElementById("inputform");    
                            var start = moment(event.start).format("DD-MM-YYYY HH:mm");
                            if (event.color.localeCompare('blue') === 0) {
                                event.color = 'green';
                                var input = document.createElement("input");

                                input.setAttribute("name", "Days");
                                input.setAttribute("type", "hidden");
                                input.setAttribute("value", start);


                                form.appendChild(input);
                                

                            }
                            $('#calendar').fullCalendar('rerenderEvents');
                        }

                        

                    });
            });
        function reset() {
            $("#calendar").fullCalendar('refetchEventSources', "/kurs/loadevents/");
            document.getElementById("inputform").innerHTML = "";
        }

    </script>
}

<br/>
<br />
<div id="calendar" style="width: 55em" > </div>
