@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using RaumplanungCore.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<RaumplanungCore.Models.Room>

@{
    ViewData["Title"] = "Startseite";
}

<h1> Meine Reservierungen </h1>

<table>
    <tr>
        <th> Raum </th>
            
        <th> Datum </th>
        <th> Bearbeiten </th>
    </tr>
    @foreach (var room in Model)
    {
        <tr>
            <td> @room.Name </td>
            <td> 20.12.2016 </td>
            <td> <a href="Detail/@room.RoomId"> Details</a></td>
        </tr>
    }
</table>



