@using RaumplanungAspNetCore.Testklassen
@inject Hund hundi;



@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@hundi.getFarbe()</p>
