@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using RaumplanungCore.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<RaumplanungCore.Models.Reservation> 

@{
    ViewData["Title"] = "Startseite";
}

<h1> Meine Reservierungen </h1>

<table>
    <tr>
        <th> Raum </th>
            
        <th> Datum </th>
        <th> Bearbeiten </th>
    </tr>
    @foreach (var reservation in Model)
    {
        <tr>
            <td> @reservation.Room.Name </td>
            <td> @reservation.Date </td>
            <td> <a asp-controller="Reservation" asp-action="Detail" asp-route-id="@reservation.RoomId">Details</a> | <a asp-controller="Reservation" asp-action="Delete" asp-route-id="@reservation.RoomId">Delete</a></td>
        </tr>
    }
</table>

<p> <a asp-controller="Reservation" asp-action="New"> Neue Reservierung anlegen </a></p>



