@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using RaumplanungCore.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<RaumplanungCore.Models.Reservation>

@{
    ViewData["Title"] = "Startseite";
}

<h1> Meine Reservierungen </h1>

<br/>
@if (Model.ToList().Count > 0)
{
    <table>
        <tr>
            <th> Raum </th>

            <th> Datum </th>
            <th> Bearbeiten </th>
        </tr>
        @foreach (var reservation in Model)
        {
            <tr>
                <td width="100"> @reservation.Room.Name </td>
                <td width="150"> @reservation.Date </td>
                <td width="150"> <a asp-controller="Reservation" asp-action="Detail" asp-route-reservationId="@reservation.ReservationId">Details</a> | <a asp-controller="Reservation" asp-action="Delete" asp-route-reservationId="@reservation.ReservationId">Delete</a></td>
            </tr>
        }
    </table>
}
else
{
    <h3> Es sind keine Reservierungen vorhanden! </h3>
}

<br/>
<p> <a asp-controller="Reservation" asp-action="New"> Neue Reservierung anlegen </a></p>



