@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Reflection
@using Microsoft.AspNetCore.Http
@using RaumplanungCore.ViewModels.Reservation
@model IEnumerable<Room>
@inject NewModel NewModel

@{
    DateTime time = DateTime.Now;
}

@section scripts
{
    <link rel="stylesheet" href="/fullCalendar/fullcalendar.css" />
    <!--<script src="/fullCalendar/lib/jquery.min.js"></script>-->
    <script src="/fullCalendar/lib/moment.min.js"></script>
    <script src="/fullCalendar/fullcalendar.js"></script>
    <script src="/fullCalendar/locale/de.js"></script>

    <script>
                $(document)
                    .ready(function() {
                        $('#calendar')
                            .fullCalendar({
                                defaultView: 'agendaWeek',
                                weekends: false,
                                editable: false,
                                timezone: 'local',
                                locale: 'de',
                                views: {
                                    week: {
                                        timeFormat: 'h:mm'
                                    }
                                },                                
                                events: "/reservation/loadevents/" /*[
                                    {
                                        title: 'Mo1',
                                        start: '08:30',    
                                        end: '10:00',
                                        dow: [1]
                                    },
                                    {
                                        title: 'Mo2',
                                        start: '10:15',
                                        end: '11:45',
                                        dow: [1]
                                    },
                                    {
                                        title: 'Di1',
                                        start: '08:30',    
                                        end: '10:00',
                                        dow: [2]
                                    },
                                    {
                                        title: 'Di2',
                                        start: '10:15',
                                        end: '11:45',
                                        dow: [2]
                                    },
                                    {
                                        title: 'Mi1',
                                        start: '08:30',    
                                        end: '10:00',
                                        dow: [3]
                                    },
                                    {
                                        title: 'Mi2',
                                        start: '10:15',
                                        end: '11:45',
                                        dow: [3]
                                    },
                                    {
                                        title: 'Do1',
                                        start: '08:30',    
                                        end: '10:00',
                                        dow: [4]
                                    },
                                    {
                                        title: 'Do2',
                                        start: '10:15',
                                        end: '11:45',
                                        dow: [4]
                                    },
                                    {
                                        title: 'Fr1',
                                        start: '08:30',    
                                        end: '10:00',
                                        dow: [5]
                                    },
                                    {
                                        title: 'Fr2',
                                        start: '10:15',
                                        end: '11:45',
                                        dow: [5]                                        
                                    }
                                ]*/,
                                eventClick: function(event) {
                                    var start = moment(event.start).format("DD-MM-YYYY HH:mm");
                                    event.title = start;
                                    window.open("/reservation/onclick/" + start.toString());
                                }
                                

                            })
                    });
    </script>    
}

@{
    ViewData["Title"] = "Neue Reservierung";
}

<h1> Neue Reservierung erstellen </h1>



<br />
<br />

<h4>Gewünschten Termin anklicken, um verfügbare Räume anzuzeigen</h4>

<a href="/reservation/onclick/1"> testlink </a>
<br />
<br />

<div id="calendar" style="width: 55em"> </div>



