@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@section scripts
{
    <link rel="stylesheet" href="/fullCalendar/fullcalendar.css" />
    <script src="/fullCalendar/lib/jquery.min.js"></script>
    <script src="/fullCalendar/lib/moment.min.js"></script>
    <script src="/fullCalendar/fullcalendar.js"></script>
    <script>
                $(document)
                    .ready(function() {
                        $('#calendar')
                            .fullCalendar({
                                defaultView: 'agendaWeek',
                                weekends: false
                            })
                    });
    </script>    
}

@{
    ViewData["Title"] = "Neue Reservierung";
}

<h1> Neue Reservierung erstellen </h1>

<br />
<br />

<h4>Gewünschten Termin anklicken, um verfügbare Räume anzuzeigen</h4>

<br />
<br />

<div id="calendar" style="width: 500px"> </div>



