@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using RaumplanungCore.ViewModels.Reservation
@model IEnumerable<Room>

@section scripts
{
    <link rel="stylesheet" href="/fullCalendar/fullcalendar.css" />
    <script src="/fullCalendar/lib/moment.min.js"></script>
    <script src="/fullCalendar/fullcalendar.js"></script>
    <script src="/fullCalendar/locale/de.js"></script>

    <script>
                $(document)
                    .ready(function() {
                        $('#calendar')
                            .fullCalendar({
                                defaultView: 'agendaWeek',
                                weekends: false,
                                editable: false,
                                timezone: 'local',
                                locale: 'de',
                                views: {
                                    week: {
                                        timeFormat: 'HH:mm'
                                    }
                                },                                
                                events: "/reservation/loadevents/",
                                eventClick: function(event) {
                                    var start = moment(event.start).format("DD-MM-YYYY HH:mm");
                                    event.title = start;
                                    window.open("/reservation/onclick/" + start.toString(), "_self");                                    
                                }
                                

                            })
                    });
    </script>    
}

@{
    ViewData["Title"] = "Neue Reservierung";
}

<h1> Neue Reservierung erstellen </h1>



<br />
<br />

<h4>Gewünschten Termin anklicken, um verfügbare Räume anzuzeigen</h4>
<h4>Legende: <span style="color: green"> Grün </span> = alle Räume frei, <span style="color: orange"> Orange </span> = Räume teilweise belegt, <span style="color: red"> Rot </span> = alles belegt</h4>

<br />
<br />

<div id="calendar" style="width: 55em"> </div>



