@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Reflection
@model IEnumerable<Room>

@section scripts
{
    <link rel="stylesheet" href="/fullCalendar/fullcalendar.css" />
    <!--<script src="/fullCalendar/lib/jquery.min.js"></script>-->
    <script src="/fullCalendar/lib/moment.min.js"></script>
    <script src="/fullCalendar/fullcalendar.js"></script>
    <script src="/fullCalendar/locale/de.js"></script>

    <script>
                $(document)
                    .ready(function() {
                        $('#calendar')
                            .fullCalendar({
                                defaultView: 'agendaWeek',
                                weekends: false,
                                editable: false,
                                timezone: 'local',
                                locale: 'de',
                                views: {
                                    week: {
                                        timeFormat: 'h:mm'
                                    }
                                },
                                events: [
                                    {
                                        title: 'Erster Block',
                                        start: '08:30',    
                                        end: '10:00',
                                        dow: [1, 2, 3, 4, 5]
                                    },
                                    {
                                        title: 'Zweiter Block',
                                        start: '10:15',
                                        end: '11:45',
                                        dow: [1,2,3,4,5]
                                    }
                                ],
                                eventClick: function(event, element) {
                                    var start = moment(event.start).format("DD-MM-YYYY HH:mm");
                                    event.title = start;
                                    element.color = 'green';
                                    $('#calendar').fullCalendar('updateEvent', event);
                                }
                            })
                    });
    </script>    
}

@{
    ViewData["Title"] = "Neue Reservierung";
}

<h1> Neue Reservierung erstellen </h1>

<br />
<br />

<h4>Gewünschten Termin anklicken, um verfügbare Räume anzuzeigen</h4>

<br />
<br />

<div id="calendar" style="width: 55em"> </div>



