@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"].</h1>
<p>
    Dein Passwort wurde zurückgesetzt. Bitte <a asp-controller="Account" asp-action="Login">hier klicken zum Einloggen</a>.
</p>
