@using System.Threading.Tasks
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "ConfirmEmail";
}

<h4> Bitte bestätigen Sie Ihre Mail-Adresse, indem Sie auf den Link in der Ihnen zugesandten Mail klicken. </h4>
